/* style.css */

/* 为名为"family"的H1标题设置居中样式 */
h1#hd1 {
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 30px;
}

h2#hd2 {
    font-family: "Times New Roman";
    color: #5928ed;
    font-size: 27px;
}

h3#hd3 {
    font-family: "Georgia";
    color: #C44601;
    font-size: 24px;
}

h3#hd32 {
    font-family: "Georgia";
    color: #C44601;
    font-size: 24px;
}

img {
    border: 5px solid red;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    display: inline-block; /* 将列表项显示方式设置为 inline-block */
    margin-left: 50px; /* 添加50像素的左外边距 */
}
